message-panel.Mindwalk { margin-bottom: 14px; }

.Mindwalk div.setting { display: none !important; }
.Mindwalk .plugin-configure { padding: 0 !important; }
.Mindwalk .footer-actions { margin: 10px 15px; }
.Mindwalk .MW-table-content { text-align: left; padding: 12px; }
.Mindwalk .MW-table-row {  border-bottom: 1px solid #ddd; }
.Mindwalk .MW-action-delete { border-bottom: 1px solid #ddd; color: red; cursor: pointer; }

#MWHDCF { padding: 0 !important; font-family: 'Open Sans',Arial,Helvetica; }
#MWHDCF .nav-tab-region { padding: 0 !important; }
#MWHDCF .nav-tabs { padding-top: 10px; background: none !important; }
#MWHDCF .tab-content-region { padding: 15px; background-color: white; border-bottom: 1px solid #ddd; }
/* #MWHDCF td ul { margin: 0; padding: 0; list-style-type: none; } */
#MWHDCF label { width: auto; }
#MWHDCF select { width: 100%; }
#MWHDCF select.member {  width: 70%;  cursor: pointer; }
#MWHDCF select option:hover { background-color: cornflowerblue; }
#MWHDCF table {  width: 100%; }
#MWHDCF-white table { border-collapse: collapse;  border: 1px solid #ddd; font-size: 10px; width: 100%; }
#MWHDCF-black table { border-collapse: collapse;  border: 1px solid #ddd; font-size: 10px; width: 100%; }
